{% extends 'base.html.twig' %}
{% set max_pages = count_posts/10 %}

{% block metas %}
    <title>{{ config.website.name }}</title>
    <meta name="description" content="{{ config.website.description }}">
    <meta name=“keywords” content=“{{ config.website.keywords }}”/>
    <meta name=”robots” content=”index, follow”>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ config.website.name }}"/>
    <meta property="og:description" content="{{ config.website.description }}"/>
    <meta property="og:image" content="LINK TO THE IMAGE FILE"/>
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}"/>
    <meta property="og:site_name" content="{{ config.website.name }}"/>
    <meta property="fb:admins" content="USER ID"/>
    <meta property="fb:app_id" content="APP ID"/>
    <meta name="twitter:card" content="summary"/>
    {% if not config.website.twitter is empty %}
    <meta name="twitter:site" content="{{ config.website.twitter }}"/>
    {% endif %}
    <meta name="twitter:title" content="{{ config.website.name }}"/>
    <meta name="twitter:description" content="{{ config.website.description }}"/>
    <meta name="twitter:image" content="LINK TO THE IMAGE FILE"/>
    <meta name="twitter:url" content="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}"/>
    <meta name="twitter:domain" content="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}"/>
    <meta name="twitter:creator" content="@TWITTER USERNAME"/>

{% endblock %}

{% block body %}

    <h1>Posts List</h1>
    {% for post in posts %}
        <div class="post">
            <h2>
                <a href="{{ path('show_post', {
                    'post_slug': post.slug,
                    'category_slug': post.mainCategorySlug
                }) }}">{{ post.title }}</a>
            </h2>
            <p>
                {{ post.content }}
            </p>
            <p>
                <a href="{{ path('show_post', {
                    'post_slug': post.slug,
                    'category_slug': post.mainCategorySlug
                }) }}">Read more...</a>
            </p>
        </div>
    {% else %}
        <p>No posts found.</p>
    {% endfor %}

    {% if max_pages > 1 %}
        <ul class="pagination">
            {% for page in 1..max_pages %}
                <li><a href="{{ path('app_default', {
                        'page': page
                    }) }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
