{% extends 'base.html.twig' %}

{% block metas %}
    <title>{{ post.title }} | {{ config.website.name }}</title>
    <meta name="description" content="{{ post.description }}">
    <meta name=“keywords” content=“{{ config.website.keywords }}”/>
    <meta name=”robots” content=”index, follow”>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="DESCRIPTION OF PAGE CONTENT"/>
    <meta property="og:image" content="LINK TO THE IMAGE FILE"/>
    <meta property="og:url" content="PERMALINK"/>
    <meta property="og:site_name" content="{{ config.website.name }}"/>
    <meta property="article:published_time" content="{{ post.createdAt|date("y-m-dTH:m:sz") }}"/>
    <meta property="article:modified_time" content="DATE OF MODIFICATION"/>
    <meta property="article:section" content="SECTION NAME"/>
    <meta property="article:tag"
          {# TODO fix tags #}
          content="{% for tag in post.tags %}{{ tag.name }}{% if loop.index != loop.last %},{% endif %} {% endfor %}"/>
    <meta property="fb:admins" content="USER ID"/>
    <meta property="fb:app_id" content="APP ID"/>
    <meta name="twitter:card" content="summary"/>
    {% if not config.website.twitter is empty %}
        <meta name="twitter:site" content="{{ config.website.twitter }}"/>
    {% endif %}
    <meta name="twitter:title" content="{{ config.website.name }}"/>
    <meta name="twitter:description" content="{{ post.description }}"/>
    <meta name="twitter:image" content="{{ post.image }}"/>
    <meta name="twitter:url" content="PERMALINK"/>
    <meta name="twitter:domain" content="DOMAIN NAME"/>

{% endblock %}

{% block body %}
    {{ dump(post) }}
{% endblock %}
